---
import Container from "../../../components/Container.astro";
import Layout from "../../../layouts/hitomi/Layout.astro";

export const prerender = false;

const { id } = Astro.params
---

<div></div>