---
import Header from "../../components/Header.astro";
import TwitterIcon from "../../assets/twitter.svg";
import "../../styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://apitw.toshu.me">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header
      icon={TwitterIcon}
      name="Twitter"
    />
    <slot />
  </body>
</html>
