---
import Container from "../../components/Container.astro";
import Layout from "../../layouts/twitter/Layout.astro";
import Content from ".";
import { Providers } from "../../libs/source";
---

<Layout title="Welcome to Twitter." />
<Container>
  <a href="/twitter/twivideos">https://www.twi-videos.net/</a><br />
  <a href="/twitter/twivideo">https://twivideo.net/</a>
</Container>
