---
import { random } from "../../libs/random";
import BaseModal from "../Modal/Default.astro";
import Toggle from "./Toggle.svelte";
import Storage from "./Storage.svelte";

export const MODAL_ID = random();

const root = Astro.url.pathname.split('/')[1];

export const prerender = true;
---

<BaseModal id={MODAL_ID}>
    <div class="wrapper">
        <div class="category">Common</div>
        <div class="toggle">
            <Toggle label="Censored" store={{ key: "censored", store: "common" }} client:idle />
        </div>
        { ['twitter', 'lover', 'yatv'].includes(root) &&
            <div class="splitter" />
            <div class="category">Video</div>
            <div class="group">
                <div class="grow">
                    <Toggle label="Autoplay" store={{ key: "autoPlay", store: "twitter" }} client:idle />
                </div>
                <div class="grow">
                    <Toggle label="Loop" store={{ key: "loop", store: "twitter" }} client:idle />
                </div>
            </div>
        }
        { root === 'hitomi' &&
            <div class="splitter" />
            <div class="category">Filter</div>
            <div class="toggle">
                <Toggle label="Filter" store={{ key: "filter", store: "hitomi" }} client:idle />
            </div>
        }
        <div class="splitter" />
        <Storage client:idle />
    </div>
</BaseModal>
<style>
    .wrapper {
        width: 100%;
        height: 100%;
    }

    .category {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .splitter {
        width: 100%;
        height: 1px;
        background-color: #696969;
        margin: 16px 0;
    }

    .group {
        display: flex;

        flex-direction: row;
        
        align-items: center;
        justify-content: space-between;

        gap: 16px;

        margin-bottom: 16px;
    }

    .grow {
        flex: 1;
    }

    .toggle {
        margin-bottom: 16px;
    }
</style>